Repository TomFern/monorepo-yarn2: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web tests, API tests, Integration tests

Web tests:
  prologue:
    commands:
    - checkout
    - sem-version node 15.14
  jobs:
  - name: lint
    commands:
    - yarn workspace web lint
  - name: unit test
    commands:
    - 'true'

API tests:
  prologue:
    commands:
    - checkout
    - sem-version node 15.14
  jobs:
  - name: lint
    commands:
    - yarn workspace api lint
  - name: unit test
    commands:
    - 'true'

Integration tests:
  jobs:
  - name: integrate
    commands:
    - 'true'

complete api server
  .pnp.js
  .yarn/cache/assertion-error-npm-1.1.0-66b893015e-7bbc9fa2ff.zip
  .yarn/cache/chai-npm-4.3.4-808f3b5355-ea3e6547b9.zip
  .yarn/cache/check-error-npm-1.0.2-00c540c6e9-1460ad12da.zip
  .yarn/cache/cross-fetch-npm-3.1.4-45e4517cba-47b33bc773.zip
  .yarn/cache/deep-eql-npm-3.0.1-9a66c09c65-eff42bc2d4.zip
  .yarn/cache/extract-files-npm-9.0.0-6ee13e6aab-021b107877.zip
  .yarn/cache/get-func-name-npm-2.0.0-afbf363765-c72d3857cd.zip
  .yarn/cache/graphql-request-npm-3.4.0-404d79e135-d564874ff4.zip
  .yarn/cache/pathval-npm-1.1.1-ce0311d7e0-81cd01d46c.zip
  .yarn/cache/type-detect-npm-4.0.8-8d8127b901-e01dc6ac90.zip
  .yarn/install-state.gz
  api/README.md
  api/package.json
  api/schema.js
  api/server.js
  api/tests/country-name.js
  yarn.lock
Due: Integration tests

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

license
  api/LICENSE.md
  api/README.md
Due: Integration tests

add integration test
  .pnp.js
  .yarn/cache/boolbase-npm-1.0.0-965fe9af6d-e827963c41.zip
  .yarn/cache/cheerio-npm-1.0.0-rc.6-a3e06527d8-75778a0f74.zip
  .yarn/cache/cheerio-select-npm-1.3.0-42f022065d-15f328a51f.zip
  .yarn/cache/css-select-npm-4.0.0-7f3eec5de4-bd81703a12.zip
  .yarn/cache/css-what-npm-5.0.0-7ddd4a5233-e41b63a3eb.zip
  .yarn/cache/dequal-npm-2.0.2-370927eb6c-3b5b019a87.zip
  .yarn/cache/dom-serializer-npm-1.3.1-fcf2b18c0f-b5260cc103.zip
  .yarn/cache/domelementtype-npm-2.2.0-c37b3b15bf-70af22cd69.zip
  .yarn/cache/domhandler-npm-4.1.0-c29c44ffd9-84a55274b0.zip
  .yarn/cache/domutils-npm-2.5.2-526355f8e2-a88c02e615.zip
  .yarn/cache/entities-npm-2.2.0-0fc8d5b2f7-ebd62621a1.zip
  .yarn/cache/htmlparser2-npm-6.1.0-4ef89ab31e-37b0b2c0ae.zip
  .yarn/cache/nth-check-npm-2.0.0-d92071ce70-380a6dcf32.zip
  .yarn/cache/parse5-htmlparser2-tree-adapter-npm-6.0.1-60b4888f75-d7389a60fd.zip
  .yarn/cache/parse5-npm-6.0.1-70a35a494a-e312014edd.zip
  .yarn/cache/swr-npm-0.5.5-411755ba9e-80ff924020.zip
  .yarn/install-state.gz
  web/package.json
  web/pages/capitals.js
  web/pages/index.js
  web/tests/capitals.js
  yarn.lock
Due: Web tests, API tests, Integration tests

add supertest
  .pnp.js
  .yarn/cache/component-emitter-npm-1.3.0-4b848565b9-fc4edbf101.zip
  .yarn/cache/cookiejar-npm-2.1.2-081d78ab06-4c733c15c1.zip
  .yarn/cache/fast-safe-stringify-npm-2.0.7-4c71091538-7bd2254326.zip
  .yarn/cache/formidable-npm-1.2.2-0f629105a1-9fe5ef38d5.zip
  .yarn/cache/mime-npm-2.5.2-d3335c8166-3e5377f0a1.zip
  .yarn/cache/qs-npm-6.10.1-12d3ab7795-25e50a9107.zip
  .yarn/cache/superagent-npm-6.1.0-053b76aea5-bc21d32d9d.zip
  .yarn/cache/supertest-npm-6.1.3-629fe02e4c-4a3e078819.zip
  .yarn/install-state.gz
  web/package.json
  yarn.lock
Due: Web tests, API tests, Integration tests

update client
  env-test
  web/apollo-client.js
Due: Web tests, API tests, Integration tests

Update Semaphore configuration
  .semaphore/pipeline_2.yml
  .semaphore/pipeline_3.yml
  .semaphore/semaphore.yml
Due: none

Path conditions:
  Web tests: any of: web/
  API tests: any of: web/
  Integration tests: any of: web/, api/
